@{
    ViewData["Title"] = "Beta";
}

<div class="text-center">
    <h1 class="display-4">Beta</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Beta Web apps with ASP.NET Core</a>.</p>
</div>